*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
} 

.marginTop_10px {
    margin-top: 20px;
}

.line_H {
    line-height: 80px;
}

.line_text_footer {
    line-height: 1.5;
}

/*Head NAV*/
header {
    height: 80px;
}

header i {
    cursor: pointer;
}

header .shop_name {
    position: relative;
}

header .shop_name i{
    position: absolute;
}

header .frist_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 4px rgba(125, 134, 138, 0.6);
}

header .search_icon input{
    padding: 5px 5px;
    border: 1px solid #ccc;
    position: absolute;
    top: 30px;
    right: 250px;
}

.hide {
    visibility: hidden;
}

.show{
    visibility: initial;
}

header .icon_shop i{
    line-height: 80px;
    padding: 4px 15px;
    font-size: 20px;
    position: relative;
}

header .cart_icon a{
    color: black;
    font-size: 20px;
}

header .icon_shop {
    margin-right: 100px;
}

header .number_phone {
    margin-left: 100px;
}

header .number_phone i{
    font-size: 25px;
    height: 27px;
    width: 27px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
}

/*End Head NAV*/

/*Child NAV*/

nav {
    height: 50px;
    
}

nav .nav_body {
    display: flex;
    justify-content: center;

}

nav a{
    text-decoration: none;
    color: black;      
}

nav .nav_body li {
    list-style-type: none;
    padding: 15px;
    transition: 0.25s;
}

nav .nav_body > li:hover {
    transform: scale(1.2);
}
/*End Child NAV*/
/*Sub_nav*/
header .sub_nav {
    background-color: white;
    width: 150px;
    position: absolute;
    display: none;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .sub_nav a {
    font-size: 13px;
}

header .sub_nav li:hover {
    background: #dadada;
}

header .Shop_parent:hover .sub_nav{
    display: block;
}

/*Login section*/
#login{
    margin: 150px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login .login_section{
    width: 570px;
}

#login .login_section h3{
    text-align: center;
    font-weight: 400;
}

#login .login_section p {
    margin: 20px 0px;
    margin-left: 30px;
    font-size: 14px;
    color: #999;
}

#login .login_section a {
    text-decoration: none;
    color: #009EFF;
    transition: 0.25s;
}

#login .login_section a:hover {
    color: #999;
}

#login .form_group input {
    margin-left: 30px;  
}

#login .form_group span {
    font-size: 14px;
    color: #c0c0c0;
}

/*footer*/
footer {
    
}

footer .border{
    border: 0.1px solid #ccc;
    margin-bottom: 60px;
}

footer .footer_container {
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

footer  .info_contact {
    width: 250px;    
}

footer  .info_contact h3{
    font-size: 20px;

}

footer .support a{
    text-decoration: none;
    color: black;
}

footer .contact_footer i {
    font-size: 38px;
}

footer .contact_footer p {
    margin-top: 22px;
}


#login .input_form {
    padding: 10px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

#login .input_form::placeholder {
    color: #c0c0c0;
}

#login .form_group button {
    float: right;
    margin-right: 85px;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: #47474c;
    color: white;
}