/*Ipad dọc(768 x 1024)*/
@media only screen and (min-width: 740px) and (max-width:1023px) {


}





/*Iphone(480 x 640)*/
@media only screen and (max-width: 739px) {
    .cart .cart_container .cart_about{
        margin-top: 150px;
    }
    header .icon_shop i {
        line-height: 20px;
        padding: 4px 15px;
        font-size: 20px;
        position: relative;
    }
    .cart .cart_container {
        margin: 50px;
        width: 70%;
    }

    .cart_product table {
        border: 1px solid black;
    }
    
    


}



